@charset "UTF-8";
@font-face {
  font-family: alex-brush;
  src: url(../fonts/AlexBrush-Regular.ttf);
}
@font-face {
  font-family: ubuntu;
  src: url(../fonts/Ubuntu-Regular.ttf);
}
.font-text {
  font-family: ubuntu;
}

#mi_navbar {
  border-bottom: 1px solid white;
  background: #2980B9;
}

#navbarSupportedContent > ul > li > a {
  color: white;
  font-size: large;
}

#navbarSupportedContent > ul > li > a:hover {
  color: #00FF00;
}

#label-developer {
  color: white;
}

#label-developer:hover {
  color: #00FF00;
}

.titles1 {
  width: fit-content;
  color: black;
  background: white;
  border-radius: 0 30px 30px 0;
}

.titles2 {
  width: fit-content;
  color: white;
  background: #2980B9;
  border-radius: 30px 30px 30px 30px;
}

.titles3 {
  width: fit-content;
  color: black;
  background: white;
  border-radius: 30px 0px 0px 30px;
}

#about_me {
  height: 100vh;
}

.my_name > p {
  background: linear-gradient(to right, white 20%, #2980B9);
  font-family: alex-brush;
  text-shadow: 0 0 5px white;
  color: black;
  font-size: 80px;
}

.my_name > h2 {
  text-shadow: 0 0 5px white;
  color: black;
}

#imagen_fondo {
  position: absolute;
  margin: 0px;
  height: 100vh;
  width: 100%;
  z-index: -1;
  box-shadow: 0 0 100px #222;
  filter: blur(5px);
}

#about_me2 {
  height: auto;
  background: linear-gradient(to bottom, #2980B9, white);
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

/*
.featured-text {
    color: $my_color3;
    text-shadow: 2px 2px 0px black;
}
*/
.collage {
  border: 2px solid #00FF00;
  background-color: #2980B9;
}

.picture_profile {
  display: flex;
  margin: 0px;
}

#proyects {
  background-color: #2980B9;
}

.my-buttons {
  color: white;
  background-color: #2980B9;
}

.my-buttons:hover {
  color: white;
  background-color: #00FF00;
}

.adaptable-text {
  color: black;
}

.adaptable-text2 {
  color: blue;
  text-decoration: underline;
}

.cel7 > a {
  color: white;
}

.cel7 > a:hover {
  color: #00FF00;
}

.circular-progress, .circular-progress:before, .circular-progress:after {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}
.circular-progress:before, .circular-progress:after {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}
.circular-progress:before {
  padding: 1em;
  box-sizing: border-box;
  font-size: 1.5rem;
  line-height: 7rem;
}
.circular-progress:after {
  line-height: 15rem;
}

.myprogres-c {
  transform: rotate(90deg);
  background: linear-gradient(0deg, #4c00ff 50%, black 50%);
  opacity: 1;
}
.myprogres-c:before, .myprogres-c:after {
  color: #4c00ff;
  -webkit-text-stroke: 0.5px black;
}
.myprogres-c:before {
  content: "C#";
  background: white content-box;
  transform: rotate(-90deg);
}
.myprogres-c:after {
  content: "INTERMEDIO";
  background: linear-gradient(transparent 50%, white 50%);
  transform: scale(1.1) rotate(-90deg);
}

.myprogres-php {
  transform: rotate(135deg);
  background: linear-gradient(0deg, #a200ff 50%, black 50%);
  opacity: 1;
}
.myprogres-php:before, .myprogres-php:after {
  color: #a200ff;
  -webkit-text-stroke: 0.5px black;
}
.myprogres-php:before {
  content: "PHP";
  background: white content-box;
  transform: rotate(-135deg);
}
.myprogres-php:after {
  content: "AVANZADO";
  background: linear-gradient(transparent 50%, white 50%);
  transform: scale(1.1) rotate(-135deg);
}

.myprogres-sass {
  transform: rotate(45deg);
  background: linear-gradient(0deg, #cd0000 50%, black 50%);
  opacity: 1;
}
.myprogres-sass:before, .myprogres-sass:after {
  color: #cd0000;
  -webkit-text-stroke: 0.5px black;
}
.myprogres-sass:before {
  content: "SASS";
  background: white content-box;
  transform: rotate(-45deg);
}
.myprogres-sass:after {
  content: "PRINCIPIANTE";
  background: linear-gradient(transparent 50%, white 50%);
  transform: scale(1.1) rotate(-45deg);
}

.myprogres-bootstrap {
  transform: rotate(135deg);
  background: linear-gradient(0deg, #0077ff 50%, black 50%);
  opacity: 1;
}
.myprogres-bootstrap:before, .myprogres-bootstrap:after {
  color: #0077ff;
  -webkit-text-stroke: 0.5px black;
}
.myprogres-bootstrap:before {
  content: "BOOTSTRAP";
  background: white content-box;
  transform: rotate(-135deg);
}
.myprogres-bootstrap:after {
  content: "AVANZADO";
  background: linear-gradient(transparent 50%, white 50%);
  transform: scale(1.1) rotate(-135deg);
}

.myprogres-js {
  transform: rotate(135deg);
  background: linear-gradient(0deg, #e5ff00 50%, black 50%);
  opacity: 1;
}
.myprogres-js:before, .myprogres-js:after {
  color: #e5ff00;
  -webkit-text-stroke: 0.5px black;
}
.myprogres-js:before {
  content: "JS";
  background: white content-box;
  transform: rotate(-135deg);
}
.myprogres-js:after {
  content: "AVANZADO";
  background: linear-gradient(transparent 50%, white 50%);
  transform: scale(1.1) rotate(-135deg);
}

.myprogres-java {
  transform: rotate(90deg);
  background: linear-gradient(0deg, #0077ff 50%, black 50%);
  opacity: 1;
}
.myprogres-java:before, .myprogres-java:after {
  color: #0077ff;
  -webkit-text-stroke: 0.5px black;
}
.myprogres-java:before {
  content: "JAVA";
  background: white content-box;
  transform: rotate(-90deg);
}
.myprogres-java:after {
  content: "INTERMEDIO";
  background: linear-gradient(transparent 50%, white 50%);
  transform: scale(1.1) rotate(-90deg);
}

.myprogres-phyton {
  transform: rotate(45deg);
  background: linear-gradient(0deg, #eeff00 50%, black 50%);
  opacity: 1;
}
.myprogres-phyton:before, .myprogres-phyton:after {
  color: #eeff00;
  -webkit-text-stroke: 0.5px black;
}
.myprogres-phyton:before {
  content: "PYTHON";
  background: white content-box;
  transform: rotate(-45deg);
}
.myprogres-phyton:after {
  content: "PRINCIPIANTE";
  background: linear-gradient(transparent 50%, white 50%);
  transform: scale(1.1) rotate(-45deg);
}

.myprogres-react {
  transform: rotate(18deg);
  background: linear-gradient(0deg, #08e926 50%, black 50%);
  opacity: 0.2;
}
.myprogres-react:before, .myprogres-react:after {
  color: #08e926;
  -webkit-text-stroke: 0.5px black;
}
.myprogres-react:before {
  content: "REACT";
  background: white content-box;
  transform: rotate(-18deg);
}
.myprogres-react:after {
  content: "PROXIMAMENTE";
  background: linear-gradient(transparent 50%, white 50%);
  transform: scale(1.1) rotate(-18deg);
}

.myprogres-windows {
  transform: rotate(135deg);
  background: linear-gradient(0deg, #0988f0 50%, black 50%);
  opacity: 1;
}
.myprogres-windows:before, .myprogres-windows:after {
  color: #0988f0;
  -webkit-text-stroke: 0.5px black;
}
.myprogres-windows:before {
  content: "WINDOWS";
  background: white content-box;
  transform: rotate(-135deg);
}
.myprogres-windows:after {
  content: "AVANZADO";
  background: linear-gradient(transparent 50%, white 50%);
  transform: scale(1.1) rotate(-135deg);
}

.myprogres-linux {
  transform: rotate(45deg);
  background: linear-gradient(0deg, #e908de 50%, black 50%);
  opacity: 1;
}
.myprogres-linux:before, .myprogres-linux:after {
  color: #e908de;
  -webkit-text-stroke: 0.5px black;
}
.myprogres-linux:before {
  content: "LINUX";
  background: white content-box;
  transform: rotate(-45deg);
}
.myprogres-linux:after {
  content: "PRINCIPIANTE";
  background: linear-gradient(transparent 50%, white 50%);
  transform: scale(1.1) rotate(-45deg);
}

.myprogres-android {
  transform: rotate(135deg);
  background: linear-gradient(0deg, #00ff22 50%, black 50%);
  opacity: 1;
}
.myprogres-android:before, .myprogres-android:after {
  color: #00ff22;
  -webkit-text-stroke: 0.5px black;
}
.myprogres-android:before {
  content: "ANDROID";
  background: white content-box;
  transform: rotate(-135deg);
}
.myprogres-android:after {
  content: "AVANZADO";
  background: linear-gradient(transparent 50%, white 50%);
  transform: scale(1.1) rotate(-135deg);
}

.myprogres-ios {
  transform: rotate(18deg);
  background: linear-gradient(0deg, #e90808 50%, black 50%);
  opacity: 0.2;
}
.myprogres-ios:before, .myprogres-ios:after {
  color: #e90808;
  -webkit-text-stroke: 0.5px black;
}
.myprogres-ios:before {
  content: "IOS";
  background: white content-box;
  transform: rotate(-18deg);
}
.myprogres-ios:after {
  content: "PROXIMAMENTE";
  background: linear-gradient(transparent 50%, white 50%);
  transform: scale(1.1) rotate(-18deg);
}

.myprogres-spanish {
  transform: rotate(135deg);
  background: linear-gradient(0deg, #00ffff 50%, black 50%);
  opacity: 1;
}
.myprogres-spanish:before, .myprogres-spanish:after {
  color: #00ffff;
  -webkit-text-stroke: 0.5px black;
}
.myprogres-spanish:before {
  content: "ESPAÑOL";
  background: white content-box;
  transform: rotate(-135deg);
}
.myprogres-spanish:after {
  content: "AVANZADO";
  background: linear-gradient(transparent 50%, white 50%);
  transform: scale(1.1) rotate(-135deg);
}

.myprogres-english {
  transform: rotate(90deg);
  background: linear-gradient(0deg, #e98008 50%, black 50%);
  opacity: 1;
}
.myprogres-english:before, .myprogres-english:after {
  color: #e98008;
  -webkit-text-stroke: 0.5px black;
}
.myprogres-english:before {
  content: "INGLÉS";
  background: white content-box;
  transform: rotate(-90deg);
}
.myprogres-english:after {
  content: "INTERMEDIO";
  background: linear-gradient(transparent 50%, white 50%);
  transform: scale(1.1) rotate(-90deg);
}

.darkModeSwitch {
  height: 1.7rem;
  width: auto;
  display: flex;
  position: relative;
  cursor: pointer;
  outline: none;
  border-radius: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  border: 1px solid black;
  background: white;
}

.darkModeSwitch span {
  width: 30px;
  height: auto;
  line-height: 30px;
  display: block;
  background: transparent;
  margin: 0px;
  color: black;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.darkModeSwitch::after {
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  border-radius: 100%;
  content: "";
  background: black;
  left: 0;
  right: 50%;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.darkModeSwitch.active {
  background: black;
  border: 1px solid #00FF00;
}

.darkModeSwitch.active span {
  color: white;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.darkModeSwitch.active::after {
  background: #00FF00;
  left: 59%;
  right: 0;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

/*# sourceMappingURL=my_style.css.map */
