@charset "UTF-8";
@font-face {
  font-family: alex-brush;
  src: url(../fonts/AlexBrush-Regular.ttf);
}
@font-face {
  font-family: ubuntu;
  src: url(../fonts/Ubuntu-Regular.ttf);
}
.font-text {
  font-family: ubuntu;
}

#mi_navbar {
  border-bottom: 1px solid #FFFFFF;
  background: #2980B9;
}

.navbar-toggler {
  color: #FFFFFF;
}

#navbarSupportedContent > ul > li > a {
  color: #FFFFFF;
  font-size: large;
}

#navbarSupportedContent > ul > li > a:hover {
  color: #00FF00;
}

#label-developer {
  color: #FFFFFF;
}

#label-developer:hover {
  color: #00FF00;
}

.titles1 {
  width: fit-content;
  color: #000000;
  background: #FFFFFF;
  border-radius: 0 30px 30px 0;
}

.titles2 {
  width: fit-content;
  color: #FFFFFF;
  background: #2980B9;
  border-radius: 30px 30px 30px 30px;
}

.titles3 {
  width: fit-content;
  color: #000000;
  background: #FFFFFF;
  border-radius: 30px 0px 0px 30px;
}

#about_me {
  height: 100vh;
}

.my_name > p {
  background: linear-gradient(to right, #FFFFFF 20%, #2980B9);
  font-family: alex-brush;
  text-shadow: 0 0 5px #FFFFFF;
  color: #000000;
  font-size: 80px;
}

.my_name > h2 {
  text-shadow: 0 0 5px #FFFFFF;
  color: #000000;
}

#imagen_fondo {
  position: absolute;
  margin: 0px;
  height: 100vh;
  width: 100%;
  z-index: -1;
  box-shadow: 0 0 100px #222;
  filter: blur(5px);
}

#about_me2 {
  background: #2980B9;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

.collage {
  border: 2px solid #000000;
  background-color: #000000;
}

.btn-download {
  background: #FFFFFF;
}

.btn-download:hover {
  background: #00FF00;
}

.picture_profile {
  display: flex;
  margin: 0px;
}

#proyects {
  background-color: #2980B9;
}

.my-buttons {
  color: #FFFFFF;
  background-color: #2980B9;
}

.my-buttons:hover {
  color: #FFFFFF;
  background-color: #00FF00;
}

.adaptable-text {
  color: #FFFFFF;
}

.adaptable-text2 {
  color: #eeff00;
  text-decoration: underline;
}

.cel7 > a {
  color: white;
}

.cel7 > a:hover {
  color: #00FF00;
}

.modal-header, .modal-body, .modal-footer {
  background: #2980B9;
}

.circular-progress, .circular-progress:before, .circular-progress:after {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}
.circular-progress:before, .circular-progress:after {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}
.circular-progress:before {
  padding: 1em;
  box-sizing: border-box;
  font-size: 1.5rem;
  line-height: 7rem;
}
.circular-progress:after {
  line-height: 15rem;
}

.myprogres-c {
  transform: rotate(90deg);
  background: linear-gradient(0deg, #2471A3 50%, #000000 50%);
  opacity: 1;
}
.myprogres-c:before, .myprogres-c:after {
  color: #2471A3;
}
.myprogres-c:before {
  content: "C#";
  background: #FFFFFF content-box;
  transform: rotate(-90deg);
}
.myprogres-c:after {
  content: "INTERMEDIO";
  background: linear-gradient(transparent 50%, #FFFFFF 50%);
  transform: scale(1.1) rotate(-90deg);
}

.myprogres-php {
  transform: rotate(90deg);
  background: linear-gradient(0deg, #884EA0 50%, #000000 50%);
  opacity: 1;
}
.myprogres-php:before, .myprogres-php:after {
  color: #884EA0;
}
.myprogres-php:before {
  content: "PHP";
  background: #FFFFFF content-box;
  transform: rotate(-90deg);
}
.myprogres-php:after {
  content: "INTERMEDIO";
  background: linear-gradient(transparent 50%, #FFFFFF 50%);
  transform: scale(1.1) rotate(-90deg);
}

.myprogres-sass {
  transform: rotate(45deg);
  background: linear-gradient(0deg, #cd0000 50%, #000000 50%);
  opacity: 1;
}
.myprogres-sass:before, .myprogres-sass:after {
  color: #cd0000;
}
.myprogres-sass:before {
  content: "SASS";
  background: #FFFFFF content-box;
  transform: rotate(-45deg);
}
.myprogres-sass:after {
  content: "PRINCIPIANTE";
  background: linear-gradient(transparent 50%, #FFFFFF 50%);
  transform: scale(1.1) rotate(-45deg);
}

.myprogres-bootstrap {
  transform: rotate(135deg);
  background: linear-gradient(0deg, #5B2C6F 50%, #000000 50%);
  opacity: 1;
}
.myprogres-bootstrap:before, .myprogres-bootstrap:after {
  color: #5B2C6F;
}
.myprogres-bootstrap:before {
  content: "BOOTSTRAP";
  background: #FFFFFF content-box;
  transform: rotate(-135deg);
}
.myprogres-bootstrap:after {
  content: "AVANZADO";
  background: linear-gradient(transparent 50%, #FFFFFF 50%);
  transform: scale(1.1) rotate(-135deg);
}

.myprogres-js {
  transform: rotate(90deg);
  background: linear-gradient(0deg, #D4AC0D 50%, #000000 50%);
  opacity: 1;
}
.myprogres-js:before, .myprogres-js:after {
  color: #D4AC0D;
}
.myprogres-js:before {
  content: "JS";
  background: #FFFFFF content-box;
  transform: rotate(-90deg);
}
.myprogres-js:after {
  content: "INTERMEDIO";
  background: linear-gradient(transparent 50%, #FFFFFF 50%);
  transform: scale(1.1) rotate(-90deg);
}

.myprogres-java {
  transform: rotate(45deg);
  background: linear-gradient(0deg, #0077ff 50%, #000000 50%);
  opacity: 1;
}
.myprogres-java:before, .myprogres-java:after {
  color: #0077ff;
}
.myprogres-java:before {
  content: "JAVA";
  background: #FFFFFF content-box;
  transform: rotate(-45deg);
}
.myprogres-java:after {
  content: "PRINCIPIANTE";
  background: linear-gradient(transparent 50%, #FFFFFF 50%);
  transform: scale(1.1) rotate(-45deg);
}

.myprogres-phyton {
  transform: rotate(45deg);
  background: linear-gradient(0deg, #AF601A 50%, #000000 50%);
  opacity: 1;
}
.myprogres-phyton:before, .myprogres-phyton:after {
  color: #AF601A;
}
.myprogres-phyton:before {
  content: "PYTHON";
  background: #FFFFFF content-box;
  transform: rotate(-45deg);
}
.myprogres-phyton:after {
  content: "PRINCIPIANTE";
  background: linear-gradient(transparent 50%, #FFFFFF 50%);
  transform: scale(1.1) rotate(-45deg);
}

.myprogres-react {
  transform: rotate(18deg);
  background: linear-gradient(0deg, #08e926 50%, #000000 50%);
  opacity: 0.2;
}
.myprogres-react:before, .myprogres-react:after {
  color: #08e926;
}
.myprogres-react:before {
  content: "REACT";
  background: #FFFFFF content-box;
  transform: rotate(-18deg);
}
.myprogres-react:after {
  content: "PROXIMAMENTE";
  background: linear-gradient(transparent 50%, #FFFFFF 50%);
  transform: scale(1.1) rotate(-18deg);
}

.myprogres-windows {
  transform: rotate(135deg);
  background: linear-gradient(0deg, #0988f0 50%, #000000 50%);
  opacity: 1;
}
.myprogres-windows:before, .myprogres-windows:after {
  color: #0988f0;
}
.myprogres-windows:before {
  content: "WINDOWS";
  background: #FFFFFF content-box;
  transform: rotate(-135deg);
}
.myprogres-windows:after {
  content: "AVANZADO";
  background: linear-gradient(transparent 50%, #FFFFFF 50%);
  transform: scale(1.1) rotate(-135deg);
}

.myprogres-linux {
  transform: rotate(45deg);
  background: linear-gradient(0deg, #e908de 50%, #000000 50%);
  opacity: 1;
}
.myprogres-linux:before, .myprogres-linux:after {
  color: #e908de;
}
.myprogres-linux:before {
  content: "LINUX";
  background: #FFFFFF content-box;
  transform: rotate(-45deg);
}
.myprogres-linux:after {
  content: "PRINCIPIANTE";
  background: linear-gradient(transparent 50%, #FFFFFF 50%);
  transform: scale(1.1) rotate(-45deg);
}

.myprogres-android {
  transform: rotate(135deg);
  background: linear-gradient(0deg, #2ECC71 50%, #000000 50%);
  opacity: 1;
}
.myprogres-android:before, .myprogres-android:after {
  color: #2ECC71;
}
.myprogres-android:before {
  content: "ANDROID";
  background: #FFFFFF content-box;
  transform: rotate(-135deg);
}
.myprogres-android:after {
  content: "AVANZADO";
  background: linear-gradient(transparent 50%, #FFFFFF 50%);
  transform: scale(1.1) rotate(-135deg);
}

.myprogres-ios {
  transform: rotate(18deg);
  background: linear-gradient(0deg, #e90808 50%, #000000 50%);
  opacity: 0.2;
}
.myprogres-ios:before, .myprogres-ios:after {
  color: #e90808;
}
.myprogres-ios:before {
  content: "IOS";
  background: #FFFFFF content-box;
  transform: rotate(-18deg);
}
.myprogres-ios:after {
  content: "PROXIMAMENTE";
  background: linear-gradient(transparent 50%, #FFFFFF 50%);
  transform: scale(1.1) rotate(-18deg);
}

.myprogres-spanish {
  transform: rotate(135deg);
  background: linear-gradient(0deg, #1ABC9C 50%, #000000 50%);
  opacity: 1;
}
.myprogres-spanish:before, .myprogres-spanish:after {
  color: #1ABC9C;
}
.myprogres-spanish:before {
  content: "ESPAÑOL";
  background: #FFFFFF content-box;
  transform: rotate(-135deg);
}
.myprogres-spanish:after {
  content: "AVANZADO";
  background: linear-gradient(transparent 50%, #FFFFFF 50%);
  transform: scale(1.1) rotate(-135deg);
}

.myprogres-english {
  transform: rotate(90deg);
  background: linear-gradient(0deg, #e98008 50%, #000000 50%);
  opacity: 1;
}
.myprogres-english:before, .myprogres-english:after {
  color: #e98008;
}
.myprogres-english:before {
  content: "INGLÉS";
  background: #FFFFFF content-box;
  transform: rotate(-90deg);
}
.myprogres-english:after {
  content: "INTERMEDIO";
  background: linear-gradient(transparent 50%, #FFFFFF 50%);
  transform: scale(1.1) rotate(-90deg);
}

.myprogres-japanese {
  transform: rotate(18deg);
  background: linear-gradient(0deg, #CB4335 50%, #000000 50%);
  opacity: 0.2;
}
.myprogres-japanese:before, .myprogres-japanese:after {
  color: #CB4335;
}
.myprogres-japanese:before {
  content: "JAPONES";
  background: #FFFFFF content-box;
  transform: rotate(-18deg);
}
.myprogres-japanese:after {
  content: "PROXIMAMENTE";
  background: linear-gradient(transparent 50%, #FFFFFF 50%);
  transform: scale(1.1) rotate(-18deg);
}

.darkModeSwitch {
  height: 1.7rem;
  width: auto;
  display: flex;
  position: relative;
  cursor: pointer;
  outline: none;
  border-radius: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  border: 1px solid #000000;
  background: #FFFFFF;
}

.darkModeSwitch span {
  width: 30px;
  height: auto;
  line-height: 30px;
  display: block;
  background: transparent;
  margin: 0px;
  color: #000000;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.darkModeSwitch::after {
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  border-radius: 100%;
  content: "";
  background: #000000;
  left: 0;
  right: 50%;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.darkModeSwitch.active {
  background: #000000;
  border: 1px solid #00FF00;
}

.darkModeSwitch.active span {
  color: #FFFFFF;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.darkModeSwitch.active::after {
  background: #00FF00;
  left: 59%;
  right: 0;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

/*# sourceMappingURL=my_style.css.map */
